<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>
<body>
<main class="container">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/product}">Product</a>
        </li>
    </ul>
    <h1>Hello, world!</h1>
    <form th:action="@{''}" method="post" th:object="${product}">
        <input type="hidden" name="id" th:value="*{id}">
        <div class="form-group">
            <label for="in-name">Name</label>
            <input type="text" id="in-name" class="form-control" name="name" th:value="*{name}">
        </div>
        <div class="form-group">
            <label for="in-summary">Summary</label>
            <input type="text" id="in-summary" class="form-control" name="summary" th:value="*{summary}">
        </div>
        <div class="form-group">
            <label for="in-detail">Detail</label>
            <textarea id="in-detail" class="form-control" name="detail" th:text="*{detail}"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a th:href="@{.}" class="btn">Cancel</a>
    </form>
</main>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!-- include summernote css/js -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.js"></script>
<script>
    $(document).ready(function() {
        $('#in-detail').summernote();
    });
</script>
</body>
</html>